name: Continuous Integration

on: [push, pull_request]

jobs:
  tpm-provider:
    name: Integration tests using TPM provider
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Run the container to execute the test script
        run: docker run -v $(pwd):/tmp/parsec-se-driver -w /tmp/parsec-se-driver ghcr.io/parallaxsecond/parsec-service-test-all /tmp/parsec-se-driver/ci/ci.sh

  cross-compilation:
    name: Cross-compile to various targets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Download Mbed Crypto
        run: git clone -b v3.0.0 https://github.com/ARMmbed/mbedtls.git
      - name: armv7-unknown-linux-gnueabihf
        run: |
          rustup target add armv7-unknown-linux-gnueabihf
          sudo apt install -y gcc-multilib
          sudo apt install -y gcc-arm-linux-gnueabihf
          MBEDTLS_INCLUDE_DIR=$(pwd)/mbedtls/include cargo build --release --target armv7-unknown-linux-gnueabihf
      - name: aarch64-unknown-linux-gnu
        run: |
          rustup target add aarch64-unknown-linux-gnu
          sudo apt install -y gcc-aarch64-linux-gnu
          MBEDTLS_INCLUDE_DIR=$(pwd)/mbedtls/include cargo build --release --target aarch64-unknown-linux-gnu
